:root {
    --dark-color: #0e0e2e;
    --principal-color:#F75762;
    --white--color: #eee;
}

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

*:focus {
    outline: 2px solid var(--white--color);
    outline-offset: 3px;
}

body {
    background-color: var(--dark-color);
    scroll-behavior: smooth;
}

.logoContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    margin-top: 5px;
}

.logo {
    width: 200px;
    margin: auto;
}

.logo[alt] {
    color: var(--white--color );
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.title { 
    text-align: center; 
    font-size: 26px; 
    font-family: 'Poppins', sans-serif; 
    color: var(--white--color); 
    font-weight: 600; 
}

.description { 
    width: 350px; 
    text-align: center; 
    font-size: 20px; 
    font-family: 'Poppins', sans-serif; 
    color: var(--white--color); 
    margin: 5px auto; 
}

.main {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 20px;
}

.RedesList {
    width: 40%;
}

.RedesItem {
    margin: 25px 0;
    list-style: none;
}

.RedesButton {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 75px;
    border-radius: 10px;
    cursor: pointer;
    border: 2px solid var(--principal-color);
    overflow: hidden;
}

.RedesButton::before {
	content: "";
	position: absolute;
    width: 100%;
    height: 100px;
    background-color: var(--principal-color);
    transform: translateX(-100%);
    transition-duration: .6s;
    z-index: -1;
}

.RedesButton:hover::before {
    transform: translateX(0);
}

.TextButton {
    width: 100%;
    color: var(--white--color);
    text-align: center;
    font-size: 28px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    letter-spacing: 1px;
}

@media screen and (max-width: 1024px) and (min-width:800px){
    .logoContainer {
        margin: 40px 0;
    }
    .logo {
        width: 250px;
    }
    .title {
        font-size: 40px;
    }
    .RedesList {
        width: 80%;
    }
    .RedesButton {
        height: 95px;
        margin: 50px 0;
    }
    .TextButton {
        font-size:40px;
    }
}

@media screen and (max-width: 800px) and (min-height: 550px) {
    .RedesList {
        width: 80%;
    }
    .RedesItem {
        margin: 30px 0;
    }
}

@media screen and (max-width: 550px) {
    .logoContainer {
        margin-top: 10px;
    }
    .logo {
        width: 150px;
    }
    .RedesList {
        width: 90%;
    }
    .RedesItem {
        margin: 25px 0;
    }
    .RedesButton {
        height: 65px;
        gap: 0px;
    }
    .TextButton {
        font-size: 28px;
    }
}

@media screen and (max-width: 375px) and (max-height: 812px) {
    .logoContainer {
        margin: 30px 0;
    }
    .logo {
        width: 200px;
    }
}

@media screen and (max-width: 380px) {
    .logoContainer {
        margin-top: 10px;
    }
    .logo {
        width: 150px;
    }
    .description {
        display: none; 
    }
    .RedesList {
        width: 85%;
    }
    .RedesItem {
        margin: 20px 0;
    }
    .RedesItem:nth-child(1) {
        margin-top: 0px;
    }
    .RedesButton {
        height: 60px;
        margin: 0;
    }
    .TextButton {
        font-size: 25px;
    }
}

@media screen and (max-width: 320px) {
    .logo {
        width: 130px;
    }
    .title {
        font-size: 20px;
    }
    .RedesButton {
        height: 55px;
    }
    .TextButton {
        font-size: 22px;
    }
}